<section class="contact pad-70">
    <h3>Entre em Contato!</h3>
    <div class="contact-cards">
        <app-contact-button
            [contactTitle]="'teste'"
            [contactImgSrc]="'teste'"
            [contactImgAlt]="'teste'">
        </app-contact-button>
         <!-- <ng-container *ngFor="let contact of contacts">
            <app-contact-button
                [contactImageSrc]="'teste'"
                [contactImageAlt]="'teste'"
                [contactTitle]="'teste'">
            </app-contact-button>
         </ng-container> -->
    </div>
</section>