<section class="about pad-70" id="sobre">
    <h2>Sobre a Dinâmica</h2>
    <div class="dinamica-content">
        <div class="dinamica-logo">
            <img src="assets/logo/BlackDinamicaLogo.png" alt="Dinamica Logo">
        </div>
        <p>
            A Dinâmica Contratos é um serviço jurídico especializado em <b>direito contratual</b>,
            oferecendo atendimento remoto para empresas e profissionais que buscam <b>segurança e transparência</b> em
            suas relações contratuais. Fundada e conduzida por <b>Joaquim Delfino</b>, a Dinâmica se destaca
            pela abordagem personalizada, garantindo a elaboração, revisão e gestão de contratos com
            <b>eficiência e conformidade legal</b>. Nosso compromisso é simplificar questões jurídicas e minimizar
            riscos, proporcionando soluções ágeis e acessíveis para nossos clientes.
        </p>
    </div>
    <h2>E sobre o CEO?</h2>
    <div class="dinamica-content">
        <p>
            <b>Joaquim Delfino</b> é advogado especializado em direito contratual, com mais de 10 anos de atuação
            na área de direito. Bacharel em direito com especialização em Direito do Trabalho, Joaquim é 
            apaixonado por tecnologia e inovação, buscando sempre aprimorar seus conhecimentos para oferecer 
            soluções jurídicas eficientes e acessíveis. Além de sua atuação como advogado, Joaquim também
            foi professor de direito em cursos de pós-graduação e MBA, compartilhando seu conhecimento e
            experiência com novas gerações de profissionais do direito.
        </p>
        <div class="ceo-photo">
            <img src="assets/img/Joaquim1.jpg" alt=" Joaquim Delfino" (click)="openDialog()">
            <h4>Clique na foto para saber mais sobre o Jota!</h4>
        </div>
    </div>
</section>