<section class="about pad-70">
    <h2>Sobre a Dinâmica</h2>
    <div class="dinamica-content">
        <div class="dinamica-logo">
            <img src="assets/img/BlackDinamicaLogo.png" alt="Dinamica Logo">
        </div>
        <p>
            A Dinâmica Contratos é um serviço jurídico especializado em <b>direito contratual</b>, 
            oferecendo atendimento remoto para empresas e profissionais que buscam <b>segurança e transparência</b> em 
            suas relações contratuais. Fundada e conduzida por <b>Joaquim Delfino</b>, a Dinâmica se destaca 
            pela abordagem personalizada, garantindo a elaboração, revisão e gestão de contratos com 
            <b>eficiência e conformidade legal</b>. Nosso compromisso é simplificar questões jurídicas e minimizar 
            riscos, proporcionando soluções ágeis e acessíveis para nossos clientes.
        </p>
    </div>
    <h2>E sobre o CEO?</h2>
    <div class="dinamica-content">
        
    </div>
</section>