nav {
    color: #fff;
    font-family: 'Merriweather';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2d4c;
    padding: 0 20px;
    height: 160px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 

    .logo {
        height: 150px !important;
        width: 150px !important;
        transition: transform 0.4s ease-in-out; 
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        @media screen and (max-width: 768px) {
            height: 120px !important;
            width: 120px !important;            
        }
    }

    .desktop-menu {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        margin: 0;

        .menu-item {
            a {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                font-size: 1.2rem;
                font-weight: 600;
                transition: color 0.3s ease;

                &:hover {
                    color: #bac3cc;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .burger {
        cursor: pointer;
        font-size: 2rem;
        color: #fff;
        display: flex;
        align-items: center;
        margin-right: 50px !important;
    }

    .menu {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 160px;
        left: 0;
        width: 100%;
        background: rgb(58, 56, 56);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        color: #fff;
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        &.is-open {
            display: flex;
            max-height: 500px; 
            opacity: 1;
            transform: translateY(0);
        }

        .mobile-item {
            all: unset;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items: center;
            height: 50px !important;
            line-height: 50px;
            cursor: pointer !important;
            transition: color 0.3s ease;
            background-color: #274272;
            border-bottom: 1px solid #fff;

            &:hover {
                color: #bac3cc;
            }
        }

        @media screen and (max-width: 1100px) {
            top: 150px !important;            
        }
    }

    @media screen and (max-width: 1100px) {
        height: 150px;           
    }
}