.schedule-container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    scroll-margin-top: 160px !important;
    gap: 90px !important;

    h3 {
        text-align: center;
        font-size: 48px;
        color: white;

        @media screen and (max-width: 1100px) {
            font-size: 22px;
        }
    }

    .schedule-card {
        width: 100%;
        border-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 160px;

        .schedule-content {
            padding: 20px;

            & .text {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;

                .lil-text {
                    padding: 10px;

                    p {
                        font-weight: 500 !important;
                        font-size: 18px;
                    }

                    .image {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 250px;
                            height: 250px;
                        }
                    }
                }

                @media screen and (max-width: 1100px) {
                    flex-direction: column;

                    h4 {
                        font-size: 16px;
                        text-align: start !important;
                    }

                    p {
                        text-align: start !important;
                        font-size: 13px !important;
                    }

                    img {
                        width: 150px !important;
                        height: 150px !important;
                    }
                }
            }

            & .form {
                display: flex;
                justify-content: space-between;
                flex-direction: row;                

                submit-button {
                    margin-top: 10px !important;
                }
                
                @media screen and (max-width: 1100px) {
                    flex-direction: column;
                    justify-content: center !important;
                    gap: 20px !important; 
                    
                    submit-button {
                        margin-top: 0 !important;
                    }
                }
            }
        }

        @media screen and (max-width: 1100px) {
            margin-bottom: 100px !important;            
        }

    }

    @media screen and (max-width: 1100px) {
        gap: 50px !important;
    }

}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 15px !important;
    width: 450px !important;

    @media screen and (min-width: 1600px) {
        width: 550px !important;        
    }

    @media screen and (max-width: 1400px) {
        width: 350px !important;
        
    }

    @media screen and (max-width: 1325px) {
        width: 300px !important;          
    }

    @media screen and (max-width: 1225px) {
        width: 200px !important;                
    }

    @media screen and (max-width: 1100px) {
        width: 100% !important;        
    }
}