<section class="schedule-container pad-70">
    <h3>Agende uma Consulta</h3>
    <div class="schedule-card">
        <div class="schedule-content">
            <div class="text">
                <div class="lil-text">
                    <h4>Proteja seus negócios com contratos seguros!</h4>
                    <p>
                        Garanta segurança e tranquilidade em suas negociações com assessoria 
                        jurídica especializada. Preencha o formulário abaixo com seu nome e e-mail, 
                        e entraremos em contato para agendar sua consulta. Nossos especialistas estão 
                        prontos para oferecer soluções personalizadas para suas necessidades contratuais.
                    </p>
                </div>
                <div class="image">
                    <img 
                    src="assets/logo/BlackDinamicaLogo.png" 
                    alt="Dinâmica Logo"
                    height="250px"
                    width="250px"
                    loading="eager">
                </div>
            </div>
            <div class="form">       
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input 
                    matInput
                    placeholder="Nome"
                    [formControl]="name"
                    (blur)="updateNameErrorMessage()"
                    required>
                    @if (name.invalid) {
                        <mat-error>{{nameErrorMessage()}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input
                      matInput
                      placeholder="email@email.com"
                      [formControl]="email"
                      (blur)="updateEmailErrorMessage()"
                      required
                    />
                    @if (email.invalid) {
                      <mat-error>{{emailErrorMessage()}}</mat-error>
                    }
                </mat-form-field>                               
            </div>
        </div>
    </div>
</section>