<section class="welcome pad-70">
    <div class="initial-text">
        <h2>Seja bem vindo(a) à Dinâmica Contratos - Sua acessoria jurídica especializada em contratos</h2>
        <p>
           Na Dinâmica, entendemos a importância de garantir que cada acordo seja claro, 
           seguro e bem estruturado. Com expertise em contratos, oferecemos consultoria e soluções 
           jurídicas precisas para proteger os seus interesses e evitar complicações futuras.
        </p>
        <p>
            Seja para firmar um novo contrato ou revisar os existentes, estamos aqui para ajudar você 
            a tomar decisões informadas e seguras.
        </p>
        <p>
            Explore <b>nossos serviços</b> e descubra como podemos ser parceiros no sucesso de seus negócios.
        </p>
    </div>
    <div class="documents">
        <img src="assets/img/contracts.png" alt="Documentos" loading="eager">
    </div>
</section>